.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.oneMoreFlex {
  display: flex;
  justify-content: center;
  width: inherit;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card.bg-primary.mainContent {
  border-radius: 16px;
  /* overflow: inherit;  table was getting outside*/ 
  overflow: overlay;
  margin: 25px;
  background:  linear-gradient(to right,lightblue,white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available; 
  /* to extend div in admin */
}

.add.stock_table{
  margin: 0.5em 0 0;
  width: -webkit-fill-available;
}